@model CoverType
<form asp-controller="CoverTypes" asp-action="Create" method="POST">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Cover Type</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Name" class="form-control" />
        </div>
        <button type="submit" class="btn btn-dark rounded-pill" style="width:150px">Create</button>
        <a asp-controller="CoverTypes" asp-action="Index" class="btn btn-light border rounded-pill" style="width:150px;">Back</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}