@model Category

<form asp-controller="Categories" asp-action="Update" asp-route-categoryId="@Model.CategoryId" method="POST">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Category</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <span asp-validation-for="Name" class="text-danger"></span>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="DisplayOrder"></label>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            <input asp-for="DisplayOrder" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Categories" asp-action="Index" class="btn btn-secondary" style="width:150px;">Back</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}