<div class="container p-3">
    <div class="row pt-4 mb-4">
        <div class="col-6">
            <h2 class="text-primary">Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Products" asp-action="Upsert" class="btn btn-dark rounded-pill"><i class="bi bi-plus-circle"></i> &nbsp; Create New Product</a>
        </div>
    </div>

    <table id="dataTbl" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th>Cover Type</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/product.js"></script>
}