@model BookHeap.Models.ViewModels.ProductViewModel

<form asp-controller="Products" asp-action="Upsert" method="POST" enctype="multipart/form-data">
    <input asp-for="Product.Id" hidden />
    <input asp-for="Product.ImageUrl" hidden />
    <div class="border p-3 mt-4 row">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id !=0 ? "Update" : "Create") Product</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Product.Title"></label>
            <span asp-validation-for="Product.Title" class="text-danger"></span>
            <input asp-for="Product.Title" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Product.Description"></label>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
            <textarea asp-for="Product.Description" rows="3" class="form-control"></textarea>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ISBN"></label>
            <span asp-validation-for="Product.ISBN" class="text-danger"></span>
            <input asp-for="Product.ISBN" class="form-control" />
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Author"></label>
            <span asp-validation-for="Product.Author" class="text-danger"></span>
            <input asp-for="Product.Author" class="form-control" />
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.ListPrice"></label>
            <span asp-validation-for="Product.ListPrice" class="text-danger"></span>
            <input asp-for="Product.ListPrice" class="form-control" />
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price"></label>
            <span asp-validation-for="Product.Price" class="text-danger"></span>
            <input asp-for="Product.Price" class="form-control" />
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price50"></label>
            <span asp-validation-for="Product.Price50" class="text-danger"></span>
            <input asp-for="Product.Price50" class="form-control" />
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.Price100"></label>
            <span asp-validation-for="Product.Price100" class="text-danger"></span>
            <input asp-for="Product.Price100" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Product.ImageUrl"></label>
            <input type="file" id="uploadBox" name="file" class="form-control" />
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.CategoryId"></label>
            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                <option disabled selected>--Select Category--</option>
            </select>
        </div>
        <div class="mb-3 col-6">
            <label asp-for="Product.CoverTypeId"></label>
            <span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
            <select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeList" class="form-select">
                <option disabled selected>--Select Cover Type--</option>
            </select>
        </div>
        <div class="col-12">
            @if(Model.Product.Id != 0)
            {
                <button type="submit" class="btn btn-dark rounded-pill" style="width:150px">Update</button>
            } else
            {
                <button type="submit" onclick="return ValidateInput()" class="btn btn-dark rounded-pill" style="width:150px">Create</button>
            }
            <a asp-controller="Products" asp-action="Index" class="btn btn-light border rounded-pill" style="width:150px;">Back</a>
        </div>
    </div>
</form>

@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
    <script>
        function ValidateInput(){
            if (document.getElementById("uploadBox").value == "") {
                Swal.fire(
                    'Oops...',
                    'Please upload an image!',
                    'error'
                );
                return false;
            }
            return true;
        }
    </script>
}