<div class="container p-3">
    <div class="row pt-4 mb-4">
        <div class="col-6">
            <h2 class="text-primary">Company List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Companies" asp-action="Upsert" class="btn btn-dark rounded-pill"><i class="bi bi-plus-circle"></i> &nbsp; Create New Company</a>
        </div>
    </div>

    <table id="dataTbl" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Street Address</th>
                <th>City</th>
                <th>State</th>
                <th>Postal Code</th>
                <th>Phone Number</th>
                <th>Actions</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/company.js"></script>
}